@model WebAppTest.Models.MasterDAO
@{
    ViewBag.Title = "Home Page";
    List<int> subjectIDs = new List<int>();
    foreach(var sub in Model.Subjects)
    {
        subjectIDs.Add(sub.ID);
    }
}

<table class="table sortable" id="theTable">
    <thead>
        <tr>
            <th>Student</th>
            @foreach(var subject in Model.Subjects.OrderBy(x=>x.ID))
            {
                <th>@subject.Name</th>
            }
            <th>
                Average
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr >
                <td>@student.FullName</td>
                @foreach(var id in subjectIDs)
                {
                    if (student.SubjectsGrades.Exists(x=>x.Subject.ID==id))
                    {
                        <td class="editable" subId="@id" stId="@student.ID">@student.SubjectsGrades.First(x=>x.Subject.ID==id).Grade</td>
                    }
                    else
                    {
                        <td class="editable" subId="@id" stId="@student.ID"></td>
                    }
                }
                <td id='average'+stId>@student.AverageGrade</td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
        <script src="~/Scripts/CellEdit.js"></script>
        <script src="~/Scripts/sortable.js"></script>
    }